<div id="nav">
  <div id="nav_bar">
    <% pages = Page.find(:all, :order => "id") %>
    <% pages.each do |page| %>
    <span class="nav_link" onclick="location.href='/<%=page.id%>'">
      <%= page.title.downcase %>
    </span>
    <% end %>

  </div>
</div>
