<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

 _  __     _      _  __                 
| |/ /    | |    | |/ /                 
| ' /_   _| | ___| ' /   _ __ ___   ___ 
|  <| | | | |/ _ \  <   | '_ ` _ \ / _ \
| . \ |_| | |  __/ . \ _| | | | | |  __/
|_|\_\__, |_|\___|_|\_(_)_| |_| |_|\___|
      __/ |                             
     |___/                           

So your a view-source kind of guy, huh? Well I guess I can tell you a little more about my technical self then.

I've corrupted partition tables on drives, and recovered everything successfully.

I've written the wrong things to the MBR on a drive, and recovered it.

I've even cancelled a print job once.

I'm actually a modest person. It's much easier to say good things about myself when I'm confident it won't actually be read by many at all. I guess calling myself modest is a bit of an oxymoron, but in this instance I'm ok with it.

I am a great team player and know the ropes for agile development.

Currently this site is written in RoR. I'm constantly experimenting with new technologies, constantly seeking that next 'ah-ha!' moment. MeteorJS is my current obsession, but I haven't built anything worthwhile using it.

If you are interested in hiring me, I'm interested in hearing from you. Please don't hesitate to contact me
at kyle(at)kylek.me

-->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Kyle Kamperschroer's Online Résumé: KyleK.me</title>
  <link rev="made" href="mailto:kkamperschroer+dotme@gmail.com" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rev="start" href="/" title="Home Page" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22807855-4']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();    
  </script>
</head>
<body>
  <div id="body">
    <div id="header">
      <span id="title" onclick="location.href='/'">
        KyleK.me
      </span>
      <span id="subtitle">
        Kyle Kamperschroer's corner of the web.
      </span>
    </div>
    <div>
      <%= yield %>
    </div>
    <hr/>
    <div id="footer">
      © Kyle Kamperschroer - 2014
    </div>
  </div>
</body>
</html>
